/* Базовые переменные для темы по умолчанию (auto) */
:root {
  --text-color: #f1b2ce;
  --family: "IBM Plex mono", sans-serif;
  --fs-base: 18px;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-bg-color: #ff0070;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --decor-color: #ff0070;
}

/* Светлая тема */
.theme-light {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-bg-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --decor-color: #353430;
}

/* Темная тема */
.theme-dark {
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-bg-color: #ff0070;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --decor-color: #ff0070;
}

.page {
  width: calc(100% - 20px);
  background-position: center;
  background-color: var(--bg-color);
  font-family: var(--family);
  font-size: var(--fs-base);
  color: var(--text-color);
}

.title-decor {
  background-color: var(--text-bg-color);
}

.header {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 648px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decor {
  color: var(--accent-color);
  margin-left: calc(100% - 65px);
  position: relative;
}

.header__decor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  width: 25.036px;
  height: 25.002px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.header__decor::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 48px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px var(--accent-color);
  width: 10.036px;
  height: 10.002px;
  background-color: var(--accent-color);
}

.header__theme-menu {
  margin: 76.5px 0 65px;
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-button {
  font-size: 18px;
  color: var(--accent-color);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 0.5px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: 116px;
  text-shadow: 4px 4px 0px var(--title-shadow);
  font-weight: 700;
  line-height: 82.5%;
  margin-bottom: 55px;
  width: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  color: #000028;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 31px;
}

.section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.section__title {
  color: var(--accent-color);
}

.section__list {
  display: flex;
  flex-direction: column;
}

.section__item {
  margin-top: 20px;
}

.section__item-title {
  color: #000028;
}

.section__item-title_additional {
  font-weight: 700;
  margin-top: 20px;
}

.section__item-text {
  margin-top: 10px;
  color: var(--text-color);
}

.section__text-link {
  text-shadow: 2.5px 1.5px 0px var(--accent-color);
  text-decoration: none;
}

.section__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__text-link:focus {
  outline: 0.5px solid var(--text-color);
}

.section:nth-of-type(3) li h3 {
  font-weight: 400;
}

.section__pictures-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.footer {
  height: 668px;
  margin: 50px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25.036px;
  height: 25.002px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
  font-family: var(--family);
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 668px) {
  .page {
    width: calc(100% - 40px);
  }
  .header {
    height: 930px;
  }

  .header__title {
    width: 576px;
    font-size: 120px;
    margin-bottom: 162px;
  }

  .header__text {
    width: 50%;
    align-self: end;
  }

  .header__theme-menu {
    margin: 147px 0 174px;
  }

  .section:not(:last-of-type) {
    margin-top: 70px;
    flex-direction: row;
    gap: 20px;
  }

  .section:nth-of-type(2) {
    flex-direction: column;
  }

  .section:nth-of-type(2) .section__title {
    width: 236px;
  }

  .section__pictures-grid {
    height: 780px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .section:last-of-type .section__item-title {
    margin-bottom: 20px;
  }

  .section__picture {
    margin: 0;
  }

  .section__picture:nth-child(1) {
    grid-column: 1/3;
  }
  .section__picture:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .section__picture:nth-child(3) {
    grid-row: 2/4;
  }
  .section__picture:nth-child(5) {
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .header {
    height: 768px;
  }

  .header__decor {
    position: absolute;
  }

  .header__title {
    width: 759px;
    font-size: 157px;
    margin: 273px 0 114px;
  }

  .header__text {
    width: 50%;
    align-self: end;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__theme-menu {
    margin: 0;
    align-self: center;
  }

  .section:nth-of-type(2) .section__list {
    flex-direction: row;
    gap: 20px;
  }

  .section:nth-of-type(2) .section__item {
    flex-grow: 1;
    flex-basis: 0;
  }

  .section:not(:last-of-type) {
    margin-top: 70px;
    flex-direction: row;
    gap: 20px;
  }

  .section:nth-of-type(2) {
    flex-direction: column;
  }

  .section:nth-of-type(2) .section__title {
    width: 236px;
  }

  .section__pictures-grid {
    height: 1434px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .section:last-of-type .section__item-title {
    margin-bottom: 20px;
  }
}