/* Reset and base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Базовые переменные для светлой темы */
:root {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --decor-color: #353430;
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --title-decor-bg: #ff8dcb;
  --title-decor-text: #353430;
  --link-shadow: #ff8dcb;
  --rec-color: #353430;
  --section-title-color: #353430;
}

/* Темная тема */
.theme-dark {
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --title-decor-bg: #ff0070;
  --title-decor-text: #000028;
  --link-shadow: #ff0070;
  --rec-color: #ff0070;
  --section-title-color: #ff0070;
}

/* Авто тема */
@media (prefers-color-scheme: dark) {
  .theme-auto {
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --decor-color: #ff0070;
    --button-color: #ff0070;
    --button-hover: rgba(255, 0, 112, 0.4);
    --title-decor-bg: #ff0070;
    --title-decor-text: #000028;
    --link-shadow: #ff0070;
    --rec-color: #ff0070;
    --section-title-color: #ff0070;
  }
}

.page {
  color: var(--text-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Header */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.header__decor {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  color: var(--rec-color);
  line-height: 1.38;
}

.header__decor::before {
  content: '';
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--button-color);
  line-height: 1;
  background: transparent;
  cursor: pointer;
  appearance: none;
  font-size: 18px;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--title-shadow);
  margin-inline-start: -20px;
}

.header__description {
  justify-self: end;
  align-self: center;
  margin-block-end: 55px;
  max-inline-size: 364px;
  font-weight: 700;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text);
  padding: 0;
}

.header__description p {
  margin: 0;
  padding: 0;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text);
}

/* Main content */
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__article {
  display: grid;
  gap: 10px;
}

.section__article-title {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text);
  margin: 0;
  padding: 0;
}

.section__article-text {
  line-height: 1.3;
  margin: 0;
}

.section__advice-header {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text);
  font-weight: 700;
  margin-block-end: 20px;
  font-size: 18px;
}

.section__advice-header h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
}

.section__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
  color: inherit;
}

.section__text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.section__text-link:focus {
  outline: none;
}

.section__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* Gallery */
.section-gallery .section__title {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text);
  margin-block-end: 10px;
  font-size: 18px;
  font-weight: 700;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* Footer */
.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--title-shadow);
}

/* Tablet */
@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__decor {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__description {
    margin-block-end: 162px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section:nth-child(even) {
    grid-template-columns: 1fr;
  }

  .section:nth-child(even) .section__title {
    max-inline-size: 236px;
  }

  .section:nth-child(4) .section__content {
    grid-column: 1 / -1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }
}

/* Desktop */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-start: 273px;
  }

  .header__description {
    margin-block-end: 114px;
  }

  .section:nth-child(2) .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section:nth-child(2) .section__title {
    max-inline-size: 315px;
  }
}