/* Сброс браузерных отступов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Базовые переменные для тёмной темы (основной) */
:root {
  --text-color: #f1b2ce;
  --family: "IBM Plex mono", sans-serif;
  --fs-base: 18px;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-bg-color: #ff0070;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}

/* Светлая тема */
.theme-light {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-bg-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --decor-color: #353430;
  --section-title-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
}

/* Авто тема - зависит от системных настроек */
@media (prefers-color-scheme: light) {
  .theme-auto {
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-bg-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --decor-color: #353430;
    --section-title-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  background-image: var(--bg-image);
  background-position: center;
  background-color: var(--bg-color);
  background-attachment: fixed;
  font-family: var(--family);
  font-size: var(--fs-base);
  color: var(--text-color);
  line-height: 1.3;
  padding: 10px;
}

.title-decor {
  background-color: var(--text-bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-size: var(--fs-base);
}

.header__decor::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-size: var(--fs-base);
  padding: 2px 13px;
  cursor: pointer;
  outline: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--title-shadow);
  margin-top: 55px;
}

.header__text {
  color: var(--bg-color);
  background-color: var(--text-bg-color);
  font-weight: 700;
  font-size: var(--fs-base);
  line-height: 1.3;
  max-width: 364px;
  justify-self: end;
  margin-bottom: 55px;
}

.main {
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}

.section:last-child {
  margin-bottom: 0;
}

.section__title {
  color: var(--section-title-color);
  font-size: var(--fs-base);
  font-weight: 700;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__advice-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.section__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__item-title {
  color: var(--bg-color);
  background-color: var(--text-bg-color);
  font-size: var(--fs-base);
  font-weight: 700;
}

.section__item-title_additional {
  font-weight: 700;
  margin-bottom: 20px;
}

.section__item-text {
  color: var(--text-color);
  font-size: var(--fs-base);
  line-height: 1.3;
}

.section__text-link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__text-link:focus {
  outline: none;
}

.section__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section_pictures .section__item-title {
  margin-bottom: 10px;
}

.section__pictures-grid {
  display: grid;
  gap: 10px;
}

.section__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--title-shadow);
}

/* Адаптив для планшетов */
@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decor {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    margin-top: 172px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__text {
    max-width: 364px;
    margin-bottom: 162px;
  }

  .main {
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
  }

  .section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .section:nth-child(2) .section__title {
    max-width: 236px;
  }

  .section:nth-child(3) {
    grid-template-columns: 1fr 2fr;
  }

  .section:nth-child(3) .section__list {
    grid-column: 1 / -1;
  }

  .section:nth-child(4) .section__list {
    grid-column: 1 / -1;
  }

  .section__pictures-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .section__picture:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section__picture:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section__picture:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section__picture:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section__picture:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }
}

/* Адаптив для десктопов */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-top: 273px;
  }

  .header__text {
    max-width: 491px;
    margin-bottom: 114px;
  }

  .section:nth-child(2) .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section:nth-child(2) .section__title {
    max-width: 315px;
  }

  .section__pictures-grid {
    height: 100%;
  }
}