.page {
  font-family: var(--project-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
}

.header {
  height: 100vh;
  min-height: 668px;
  font: inherit;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  align-items: center;
  padding: var(--decoration-gap) 0;
}

.header_text {
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  font: inherit;
  margin: var(--decoration-gap);
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font: inherit;
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}


.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.main {
  margin: 0 var(--decoration-gap);
}

.section {
  display: grid;
  margin-top: 40px;
}

.section_why {
  margin-top: var(--section-child-margin);
}

.section_what,
.section_how,
.gallery_section {
  margin-top: 50px;
}


.huge_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  margin-left: var(--header-margin-left);
}

.question {
  font: inherit;
  color: var(--question-color);
}

.answer_title {
  color: var(--answer-title-color);
  background-color: var(--answer-title-bg-color);
  font: inherit;
}

.answer_text {
  color: var(--answer-text-color);
  font-weight: normal;
}

.advice_title {
  font: inherit;
  font-weight: normal;
  color: var(--advice-title-color);
  background-color: var(--advice-title-bg-color);
  margin: 20px 0 10px;
}


.answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.advice_title_main {
  margin: 20px 0;
}


.simple_link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.simple_link:focus {
  outline: none;
}

.simple_link:focus-visible {
  outline: 1px solid currentColor;
}

.simple_link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.rec_empty {
  position: absolute;
  top: calc(var(--decoration-gap) - 10px);
  right: calc(var(--decoration-gap) + 50px);
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
}

.rec_empty::before {
  content: 'REC';
  color: var(--rec-color);
  margin-right: 15px;
}

.rec_empty::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  margin-left: 42px;
  margin-top: 8px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}


.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  margin: 0;
  list-style: none;
}


.footer {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_title {
  margin-top: 32px;
}

.picture_question {
  margin-bottom: 10px;
}

/* ПЛАНШЕТ */
@media (width >= 768px) {
  .huge_title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }

  .header {
    margin-bottom: 40px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .header_text {
    width: 50%;
    justify-self: end;
  }

  .section_why {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_what {
    grid-template-columns: 1fr;
  }

  .section_how {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 61px;
  }

  .question_what {
    width: 30%;
    margin-top: 30px;
  }

  .question_how {
    margin-top: 20px;
  }

  .picture_question {
    margin-bottom: 0;
  }

  .footer_title {
    margin-top: 62px;
  }

  
  .sunset_pic {
    grid-column: 1 / 3;
  }

  .ice-cream_pic {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape_pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books_pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

/*ТЕЛЕФОН*/
@media (width >= 1024px) {
  .header {
    margin-bottom: 0;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section_why {
    margin-top: 40px;
    gap: 10px;
  }

  .question_why {
    margin-top: 20px;
  }

  .section_what {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "question_what ."
      "answers_what answers_what";
    gap: 10px;
  }

  .question_what {
    grid-area: question_what;
    width: 30%;
  }

  .answers_what {
    grid-area: answers_what;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 77px;
  }

  .section_how {
    gap: 10px;
  }

  .footer {
    margin-top: 50px;
  }

  .footer_title {
    margin-top: 50px;
  }
}